html,
body {
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E8ECEE;
}

/*HEAD*/
.contenitoreHeader{
    width: 100%;
    
}
.contenitoreLogo {
    background-color: #222F3F;
    width: 100%;
}

.logo {
    width: 100px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: start;
}

.linkUtili {
    background-color: #364759;
    color: white;
    width:100%;
    display: flex;
    justify-content: start;
    margin: 0px;
}

.pUtili {
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
    


}

/*MAIN*/

.main {
   padding-left: 25px;
   padding-right:25px ;
  
}

.arancione {
    background-color: #F56600;
    text-align: center;
    margin-top: 35px;


}

.pArancione {
    padding: 10px;
    color: white;
    font-size: x-large;


}

.verde {
    margin-top: 35px;
    padding: 35px;
    background-image: url(../images/bg-image.png);
    background-size: 100%;
    text-align: center;
    color: white;
}


/*MAIN_PART1*/
.centro {
    margin-top: 35px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.h2 {
    margin: 0;
    margin-left: 20px;
    margin-top: 15px;
}

.contenitoreTitolo {
    display: flex;
    align-items: center;
    justify-content: start;
    align-items: center;
    width: 100%;



}

.imgUnite {
   
  display: flex;
  justify-content: space-between;   /*DA SISTEMARE*/
  
  
  
  

}

.imgPrincipali {
    max-height: 100%; min-height: 40px;
    max-width: 100%; min-width: 30px;
    border-radius: 10px;                                       /*DA SISTEMARE*/
    box-shadow: 10px 10px 10px rgb(206, 205, 205);
    margin: 20px;
    
}


/*MAIN_PART2*/
.contenitoreImgGrande {
    margin-top: 70px;
    text-align: center;
}

.imgGrande {
    width: 100%;

}

.linkImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:0;
}

.title {
    color: black;
    font-weight: normal;
    font-size: large;
    

}

.p {
    margin: 0;
    margin-left: 15px;
    
    color: #539DB0;
    font-weight: bold;

}


/*FOOTER*/
.footer {
    text-align: center;
    background-color: #364759;

}

.aFooter {
    padding: 20px;
    margin: 0;
}

.imgFooter {
    text-align: center;
    background-color: #222F3F;

}

.a {
    color: white;
    font-weight: bold;
    font-size: large;
    color: white;
    text-decoration: none;
}

.logoFooter {

    width: 200px;
    padding: 60px;
}