html, body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

    .spectral-regular {
        font-family: "Spectral", serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .spectral-bold {
        font-family: "Spectral", serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .spectral-extrabold {
        font-family: "Spectral", serif;
        font-weight: 800;
        font-style: normal;
      }

      .roboto-regular {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .roboto-bold {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .roboto-black {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: normal;
      }
      
      
}
/*---------HEADER------*/
header{
    display: flex;
    height: 6vh;
    justify-content: space-around;
    border-bottom: solid 1px;
    background-color: #ffc017;
    font-family: roboto;
}
header img {
width: 200px;

}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}
header nav p {
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav p:last-child{
    width: 110px;
    height: 35px;
    border-radius: 30px;
    color: white;
    background-color: #191919;
}
header a{
 display: flex;
justify-content: start;
}

.contenitoreSottoHeader{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
    justify-content: space-between;
    border-bottom: solid 1px;
    background-color: #ffc017;
}
.h1{
    display: flex;
   align-items: start;
   margin-left:150px ;

   
}
.h1 h1{
 font-size:4.7em;
 width: 100%;
 margin: 0;
 display: flex;
 justify-content: start;
 font-family: Spectral;
 font-weight: 400;
 letter-spacing: -5px;
 
}


.h1 h3:last-child{
    width: 200px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: lighter;
    background-color: #191919;
    border-radius: 30px;
    font-family: Roboto;
}
.h1 h3{
margin-top:0px ;
}

.contenitoreSottoHeader .h1{
width: 30%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
border-bottom: 1px;
}
.svg{
    width: 40%;
    
    
   
   
}
/*-----MAIN PARTE TENDENZE---*/
main {



}
.tendenze{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: solid 1px;
    font-family: Roboto;
}
.tendenze img{
    width: 20px;
    height: 20px;
    border-radius: 30px;
}
main span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22%;
}
.card{
    width:26% ;
    display: flex;
}
.card h3{
margin: 0;
}
.card img{
    /*SE SERVIRA'*/
}
.profilo{
    display: flex;
   width: 100%;
   flex-direction: column;
   align-items: start;
   margin-left: 20px;
}
.profilo span {
  width: 100%;
  justify-content: start;
  align-items: center;
}
.profilo span p{
    font-size: small;
    font-weight: bold;
}
.profilo :nth-child(3){
    color: gray;
}

.profilo img{
float: right;
margin-left: 5px;
margin-right: 5px;
}

.data{
       
}


/*---MAIN PARTE NOTIZIE PRINCIPALI----*/

.contenitoreNtzPrincipale{
 width: 55%;
 font-family: roboto;
}
.contenitoreNtzPrincipale p{
    color: gray;
    font-size: large;
}
.contenitoreNtzPrincipale h2{
margin: 0;

}
.notizie{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.notizie div img:last-child{

}
.contenitoreImg {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.imgTesto{
width: 200px;
padding: 20px;


}
.testo div{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: start;
}

.tipoLettura {
border-radius: 30px;
background-color: rgb(236, 236, 236);
margin-left: 5px;
display: flex;
justify-content: center;
align-items: center;
}



/*-----FOOTER----*/

.linkUtili{
    width: 35%;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    color: rgb(204, 202, 202);
}
.linkUtili div{
    display: flex;
    flex-wrap: wrap;
}
.linkUtili h4{
margin: 5px;
border: solid 1px;
width: 120px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
color: rgb(204, 202, 202);
font-weight: normal;
font-size: small;
}

.linkUtili p,a{
width: 70px;
text-decoration: none;
color: gray;
margin: 3px;
}
.linkUtili h3{
    margin-bottom: 10px;
}
.linkUtili2{
    margin-top: 20px;
    width: 98%;
}
#contenitoreGenerale{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    
}

/*--ASPETTI DINAMICI---*/

header{
position: fixed;
width: 100%;
z-index: 1000;
}

.linkUtili{

}




/*----MEDIA QUERY--*/
@media screen and (max-width:576px) {




header{ 
width: 100%; 
justify-content: space-between;  
}
header img {
width: 150px;
margin-left: 20px;
}
header nav{
 width: 50%;  
}
header nav :nth-child(1){
display: none;
}

header nav :nth-child(2){
    display: none;
    }
    header nav :nth-child(3){
        display: none;
        }
        .svg{
            display: none;
        }
        .contenitoreSottoHeader .h1{ 
    
          width: 100%;
          margin-left: 20px;
          height: 40vh;
          
        }
        
        .h1 h1{
        width: 100%;
        font-size: 5em;
        }
        .h1 h3{
         width: 65%;
         font-weight: 400;   
        }
      
  main span{
    width: 100%;
    justify-content: start;
  }
.tendenze{
 display: block;


}
.card{
 width: 100%;
}
.profilo p{
width: 100%;

}
#contenitoreGenerale{
flex-direction: column-reverse;
padding: 0;
}
.imgTesto{
    width: 200px;
    padding: 0;
}


.contenitoreNtzPrincipale{
    width: 100%;
    
}
.linkUtili{
width: 100%;
border-bottom:solid 1px;

}
.linkUtili2 a{
    display: none;
}

}













   


