html, body{
margin: 0 auto;
padding:0;
box-sizing: border-box;
background-color: rgb(255, 250, 244);
}

.logo{
    width: 150px;
}

header{
    background-color: #131921;
}
#description{
    height: 15vh;
}

main{
    border: solid 1px;
    border-top: 0px;
    border-bottom: 0px;
}

#del{
display: none;    
}

