<div class="container-fluid d-flex justify-content-evenly mt-5 mb-5">
  <ng-container *ngFor="let basedate of basedates">
    <div *ngIf="basedate.brand == 'Fiat'" class="card" style="width: 18rem;">
      <img src="https://www.kimballstock.com/pix/car/p/{{basedate.modelImage}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{basedate.model}}</h5>
        <p class="card-text">{{basedate.description}}</p>
        <a [routerLink]="['/a']" class="btn btn-primary" [class.btn-danger]="!basedate.available">
          {{ basedate.available ? 'Prenota ora!' : 'Non disponibile' }}
        </a>
      </div>
    </div>
  </ng-container>
</div>