<div class="container-fluid p-3 text-center">
    <div class="card bg-body-tertiary border-0">
        <div class="card-body">
          <h5 class="card-title">AutoRent Castelluccio</h5>
          <p class="card-text">Scatta la tua prossima avventura: auto perfette, offerte irresistibili!</p>
          <a [routerLink]="['/ford']" class=" mx-2">Le nostre ford</a>
          <a [routerLink]="['/fiat']" class=" mx-2">Le nostre fiat</a>
          <a [routerLink]="['/audi']" class=" mx-2">Le nostre audi</a>
        </div>
      </div>
</div>
