<div class="container-fluid p-0 mt-5 text-center">
    <div class="card bg-body-tertiary border-top-0">
        <div class="card-body">
          <h5 class="card-title">AutoRent Castelluccio</h5>
          <p class="card-text">La grafica non è il nostro forte, ma il sito va una bomba!</p>
          <a [routerLink]="['/ford']" class=" mx-2">Le nostre ford</a>
          <a [routerLink]="['/fiat']" class=" mx-2">Le nostre fiat</a>
          <a [routerLink]="['/audi']" class=" mx-2">Le nostre audi</a>
        </div>
      </div>
</div>
