
<div class="d-flex">
<div class="container" *ngFor="let basedate of basedates">
  <div class="card" style="width: 18rem;" *ngIf="basedate.brand == 'Ford' ">
    <img src="https://www.kimballstock.com/pix/car/p/{{basedate.modelImage}}" class="card-img-top " alt="...">
    <div class="card-body">
      <h5 class="card-title">{{basedate.model}}</h5>
      <p class="card-text">{{basedate.description}}</p>
      <a href="#" class="btn btn-primary" [class.btn-danger]="!basedate.available" > {{ basedate.available ? 'Prenota ora!' : 'Non disponibile' }} </a>
    </div>
  </div>
</div>
</div>



